#gold{
  background-color: gold;

}
#plata{
  background-color: dimgrey;
  color: white;
}

#negro{
  background-color: black;
  color: white;
}
#cafe{
  background-color: brown;
  color: white;
}
#rojo{
  background-color: red;
  color: white;
}
#naranja{
  background-color: chocolate;
  color: white;
}
#amarillo{
  background-color: yellow;
}
#verde{
  background-color: green;
  color: white;
}
#azul{
  background-color: blue;
  color: white;
}
#morado{
  background-color: purple;
  color: white;
}
#gris{
  background-color: gray;
  color: white;
}
#blanco{
  background-color: white;
}
