<p>resistencias works!</p>
<form class="container">
  <div class="row justify-content-center bg-black bg-opacity-10 rounded-5 shadow pt-5 pb-5 mb-5">

    <!-- Primera Banda /////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <div class="col-3">
    <h3>1ra Banda</h3>
    <table class="container">
      <tr class="row justify-content-center p-1 border rounded-5 mb-1"
        *ngFor="let valor of valores"
        [id]="valor.color"
        >
        <!--
        Operador ternario / Esta parte funciona para que ponga el id solo al input seleccionado
        [id]="banda1 === valor.num ? valor.color : '' " -->
        <td class="col-2">
          <input type="radio" name="banda1" [value]="valor.num" [(ngModel)]="banda1" class="form-check-input">
        </td>
        <td class="col-10 fw-bold">{{valor.num}} | {{valor.color}}</td>
      </tr>

    </table>
    </div>

    <!-- Segunda Banda /////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <div class="col-3 me-5 ms-5">
    <h3>2da Banda</h3>
    <table class="container">
      <tr class="row justify-content-center p-1 border rounded-5 mb-1"
        *ngFor="let valor of valores"
        [id]="valor.color"
      >
      <!-- [id]="banda2 === valor.num ? valor.color : ''" -->
        <td class="col-2">
          <input type="radio" name="banda2" [value]="valor.num" [(ngModel)]="banda2" class="form-check-input">
        </td>
        <td class="col-10 fw-bold">{{valor.num}} | {{valor.color}}</td>
      </tr>

    </table>
    </div>

    <!-- Tercera Banda ///////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <div class="col-3">
    <h3>3ra Banda</h3>
    <table class="container">
      <tr class="row justify-content-center p-1 border rounded-5 mb-1"
        *ngFor="let valor of valores"
        [id]="valor.color"
      >
      <!-- [id]="banda3 === valor.num2 ? valor.color : ''" -->
        <td class="col-2">
          <input type="radio" name="banda3" [value]="valor.num2" [(ngModel)]="banda3" class="form-check-input">
        </td>
        <td class="col-10 fw-bold">x{{valor.num2}} | {{valor.color}}</td>
      </tr>

    </table>
    </div>


    <!-- Tolerancia //////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <div class="col-3">
    <h3>Tolerancia</h3>
    <table class="container">
      <tr class="row justify-content-center p-1 border rounded-5 mb-1"
          *ngFor="let valor of valores2"
          [id]="valor.color"
          >
         <!--  [id]="tolerancia === valor.num ? valor.color : ''" -->
        <td class="col-2">
          <input type="radio" name="tolerancia" [value]="valor.num" [(ngModel)]="tolerancia" class="form-check-input">
        </td>
        <td class="col-10 fw-bold">{{valor.nombre}} | {{valor.color}}</td>
      </tr>

    </table>
    </div>



    <div class="col-12 container row justify-content-center mt-5">
    <div class="col-6 text-center">
          <button (click)="Calcular()" type="submit" class="btn btn-primary">Calcular</button>
          <div class="container mt-5"
                *ngIf="calculado"
          >
            <div class="row justify-content-center border border-white border-4 rounded-1">
              <div class="col border-4 border-end border-white d-flex align-items-center justify-content-center"
                  [id]="colorBanda1">
                <label class="fw-bold">{{ banda1 }}</label>
              </div>

              <div class="col border-4 border-end border-white d-flex align-items-center justify-content-center"
                  [id]="colorBanda2">
                <label class="fw-bold">{{ banda2 }}</label>
              </div>

              <div class="col border-4 border-end border-white d-flex align-items-center justify-content-center"
                  [id]="colorBanda3">
                <label class="fw-bold">{{ banda3 }}</label>
              </div>

              <div class="col border-4 border-end border-white d-flex align-items-center justify-content-center"
                  [id]="colorTolerancia">
                <label class="fw-bold">{{ tolerancia }}</label>
              </div>
              <div class="col border-4 border-end border-white">
                <label class="fw-bold">Valor Homs: </label>
                <label class="fw-bold">{{homsnormal}}</label>
              </div>
              <div class="col border-4 border-end border-white">
                <label class="fw-bold">Homs mínimos: </label>
                <label class="fw-bold">{{minimo}}</label>
              </div>
              <div class="col">
               <label class="fw-bold">Homs máximos: </label>
               <label class="fw-bold">{{maximo}}</label>
              </div>

            </div>
          </div>

    </div>
  </div>


  </div>



</form>
